body{
	margin: 0;
	background-image: linear-gradient(45deg, white, #F5F5F5)
}

.barraInicial{
	background-color: #000080;
	max-width: 100%;
	margin-left: 2px;
	margin-right: 2px;
	display: flex;
	align-items: center;
}

.linksInicial{
	margin-left: 180px;
}

h2{
	color: white;
	margin-left: 10px;
	font-size: 18px;
	font-family: 'Poppins', serif;
	font-weight: 800;
    font-style: normal;
}


.corAzul{
	color: #000080;
}

.subTiH1{
	background-color: #90D5FF;
	padding: 5px;
	border-radius: 15px;
	width: 220px;
	text-align: center;
	font-size: 11px;
	color: #000080;
	font-family: 'Poppins', serif;
	font-weight: 800;
    font-style: normal;
}

h1{
	margin-top: 0px;
	font-family: 'Poppins', serif;
	font-weight: 800;
    font-style: normal;
    font-size: 40px;

}
.caixaLinks{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.caixaLinks:hover{
	border-bottom: 2px solid white;
}

.iconsInicial{
	margin-left: 130px;
	display:inline-flex;
	align-items: center;
}

.iconsLinks{
 padding: 8px 8px;
 border-radius: 50%;
 background-color: white;
 text-decoration: none;
 margin-right: 10px;
 border:none;
 color: #000080;
 font-size: 18px;
}


#inicio{
	height: 500px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 30px;
	display: flex;
	align-items: center;
}


.informacoes{
	width: 500px;
	margin-left: 10px;
}

.textoInicio{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.buttonOferta{
   background-color:#000080;
   color: white;
   border: none;
   padding: 10px;
   width: 230px;
}
.buttonKitOferta{
   border: 1px solid #000080;
   padding: 10px;
   width: 230px;
   color: #000080;
}

.containerInicial{
 display: flex;
 justify-content: center; 
 text-align: center;
 margin-top: 20px;
}

.cardsInicial{
	height: 140px;
	width: 170px;
	margin-right: 25px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px black;
	padding-top: 10px;

}

.iconsCardsInicial{
 font-size: 40px;
 color: #000080;
}

.tiCardsInical{
	font-size: 12px;
	margin-top:3px;
	margin-bottom: 10px;
	color: #000080;
	font-family: 'Poppins', serif;
	font-weight: 800;
    font-style: normal;
}

.textCardsInical{
	font-size: 12px;
	margin-top: 2px;
	font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#caixaProdutos{
	display: flex;
	align-items: center;
	justify-content: center;

}


.containerProdutos{
  margin-top: 55px;
  margin-bottom: 10px;
}

.produto{
	background-color: white;
	height: 270px;
	width: 230px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.4s;
	border:1px solid #C4C4C4;
	box-shadow: 1px 1px 5px black;
}

.produto:hover{
	border: 1px solid #000080;
	transform: scale(1.03);
	transition: 0.2s;
}

.buttonProdutos{
	border:1px solid #000080;
	padding: 5px;
	width: 200px;
	margin-top: 0px;
	color: #000080;
	transition: 0.3s;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.buttonProdutos:hover{
	background-color: #000080;
	color: white;
	transition: 0.2s;
}

.tamanhoImg{
	width: 220px;
	height: 140px;
}

.preco{
	margin-top: 0px;
	font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.tiProdutos{
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 13PX;
	font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 

}

.tiPrincipalProdutos{
	margin-bottom: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.parcela{
	font-size: 13px;
	margin-top: 2px;
	margin-bottom: 14px;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#beneficios{
	display:flex;
	align-items: center;
	height: 60px;
	width: 958px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
	margin-left: 27px;
	margin-right: 27px;
}

.iconsItensBeneficos{
	margin-left: 25px;
    margin-top: 14px;
	align-items: center;
	color: #000080;
}

.iconsBeneficio{
	font-size: 40px;
	margin-left: 18px;
}
.tiBeneficios{
	font-size: 15px;
	margin-bottom: 3px;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000090;
}

.textoBeneficios{
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.informacoesBeneficios{
	font-size: 12px;
	margin-top: 0px;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
}

footer{
    margin-top: 20px;
	background-color: #000080;
	height: 250px;
	display: flex;
	align-items: center;
	
}

.sobre-a-loja{
	font-size: 13px;
	color: white;
	width: 300px;
	margin-left: 30px;
	height: 210px;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.iconsRedeSociais{
	font-size: 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
}

.ti-cabecario{
	font-size: 20px;
	margin-top: 0px;
}

.destaque{
 color: white;
 margin-left: 30px;
 flex-direction: column;
 display: flex;
 height: 210px;
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: normal;
}

.linksRapido{
	text-decoration: none;
	color: white;
	margin-bottom: 5px;
	font-size: 15px;
}

.contato{
	height: 210px;
	margin-left: 180px;
	color:white;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

